################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SFCSharp/Module_3.4/bin/Debug/netcoreapp3.1
/SFCSharp/Module_3.4/obj
/SFCSharp/Module_3.3/obj
/SFCSharp/Module_3.7/bin/Debug/netcoreapp3.1
/SFCSharp/Module_3.7/obj
/SFCSharp/Module_3.2/bin/Debug/netcoreapp3.1
/SFCSharp/Module_3.2/obj
/SFCSharp/.vs/SFCSharp
